/* stylesheet by mkohls */
/* leaflet map */
#panel {
  height: 200px;
  font-size: 18px;
  font-family: "Trebuchet MS";
  background-color: #9DD4D4;
  text-align: center;
      border: solid gray 4px;
}
h1 {
    display: block;
    font-size: 24px;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#map { height: 650px; }

.leaflet-popup-content p {
    width: 200px;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
  width: 200px;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.legend-control-container {
    width: 200px;
    height: 300px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    font-size: 20px;
    font-family: "Trebuchet MS";
}
#bottom {
  height: 50px;
  font-size: 12px;
  font-family: "Trebuchet MS";
  background-color: #9DD4D4;
  text-align: center;
      border: solid gray 4px;
}
